{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <img alt="avatar" width="100%" src="{{ user.add_avatar(1028) }}" class="img-fluid rounded">
                <p class="h3 font-weight-normal" style="margin-bottom:0px;">Foo Bar</p>
                <p class="text-muted">{{ user.username }}</p>
                {% if user.bio %}
                    {{ user.bio }}
                {% else %}
                    <button type="button" class="btn btn-secondary btn-sm btn-block">Add a bio</button>
                {% endif %}
            </div>
            <div class="col-md-9 col-sm-8">
                <p>Hjsdkfhskdhfkshdfk shdfj hsjkd fh</p>
            </div>
        </div>
    </div>
{% endblock %}