{% extends "base.html" %} 

{% block head%}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    
.checked {
    color: orange;
}

.read-more-text {
    height: auto;
}

.read-less-text {
    height: 13.5em;
    overflow: hidden;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img alt="avatar" width="100%" src="{{ user.add_avatar(1028) }}" class="img-fluid rounded">
            <p class="h3 font-weight-normal" style="margin-bottom:0px;">Foo Bar</p>
            <p class="text-muted">{{ user.username }}</p>
            {% if user.bio %}
            <p class="lead" id="text-bio">{{ user.bio }}</p>
            <button id="add_bio_button" type="button" class="btn btn-secondary btn-sm btn-block">Edit bio</button>
            {% elif current_user != user %}
            <button id="follow_button" type="button" class="btn btn-secondary btn-sm btn-block">Follow</button>
            {% elif current_user == user %}
            <p class="lead" id="text-bio" style="visibility: hidden;"></p>
            <button id="add_bio_button" type="button" class="btn btn-secondary btn-sm btn-block">Add a bio</button>
            {% endif %}
            <div class="form-group" id="add_bio_div" style="visibility: hidden; display:none;">
                <textarea placeholder="Type your bio here" id="add_bio_textarea" class="form-control" rows="5" id="comment"></textarea>
                <div style="margin-top: 10px;">
                    <button type="button" id="save_bio_button" class="btn btn-primary btn-sm">Save</button>
                    <button type="button" id="cancel_bio_button" class="btn btn-secondary btn-sm">Cancel</button>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <a style="text-decoration:none;color:inherit;" href="mailto:{{ user.email }}">
                    <i class="far fa-envelope lead"></i>
                </a>
                &ensp;&ensp;&ensp;
                <i class="far fa-comments lead"></i>
            </div>
            <hr>
        </div>
        <div class="col-sm-9">
            <p class="h2">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="nav-home"
                            aria-selected="true">
                            Overview
                        </a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                            aria-selected="false">
                            Following
                        </a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                            aria-selected="false">
                            Followers
                        </a>
                    </div>
                </nav>
                <div class="container">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                            <div id="famous-books">
                                <p class="lead" style="margin-bottom: 0px; margin-top: 15px;">Famous books</p>
                                <div id="famousBookCarousel" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="6000">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active first-carousel">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img class="img-fluid" style="width:100%;margin-bottom:3px;"/>
                                                    <a class="getGoogle"><button type="button" class="btn btn-primary btn-sm btn-block">Get from Google</button></a>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div style="line-height: 0.9px;">
                                                        <p class="h4"><strong class="title"></strong></p>
                                                        <p><small class="authors"></small></p>
                                                        <div class="rating"></div>
                                                    </div>
                                                    <div class="description read-less-text"></div>
                                                    <div class="text-center read-more">
                                                        <a href="#" style="text-decoration:none;"><div>Read more</div></a>
                                                        <a href="#" style="font-size:10px;"><i class="fas fa-arrow-down"></i></a>
                                                    </div>
                                                    <div class="text-center d-none read-less">
                                                        <a href="#" style="text-decoration:none;"><div>Read less</div></a>
                                                        <a href="#" style="font-size:10px;"><i class="fas fa-arrow-up"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item second-carousel">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img class="img-fluid" style="width:100%;margin-bottom:3px;">
                                                    <a class="getGoogle"><button type="button" class="btn btn-primary btn-sm btn-block">Get from Google</button></a>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div style="line-height: 0.9px;">
                                                        <p class="h4"><strong class="title"></strong></p>
                                                        <p><small class="authors"></small></p>
                                                        <div class="rating">
                                                        </div>
                                                    </div>
                                                    <div class="description read-less-text"></div>
                                                    <div class="text-center read-more">
                                                        <a href="#" style="text-decoration:none;"><div>Read more</div></a>
                                                        <a href="#" style="font-size:10px;"><i class="fas fa-arrow-down"></i></a>
                                                    </div>
                                                    <div class="text-center d-none read-less">
                                                        <a href="#" style="text-decoration:none;"><div>Read less</div></a>
                                                        <a href="#" style="font-size:10px;"><i class="fas fa-arrow-up"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
{% endblock %} 
{% block script %}

<script>
    const username = "{{ user.username }}"
    let read_more = false

    if (!read_more) {
        
    }

    // Add Bio section
    $("#add_bio_button").click(function () {
        $("#add_bio_button").fadeOut({
            "complete": () => {
                $("#add_bio_div").css("display", "block")
                $('#add_bio_div').css('visibility', 'visible').hide().fadeIn()
            }
        })
    })
    $("#cancel_bio_button").click(function () {

        $("#add_bio_div").fadeOut({
            "complete": () => {
                $('#add_bio_button').css('visibility', 'visible').hide().fadeIn()
                $("#add_bio_textarea").val("")
                $("#add_bio_div").css("display", "none")
            }
        })

    })
    $("#save_bio_button").click(function () {
        const bio = $("#add_bio_textarea").val()
        $.ajax({
            method: "POST",
            contentType: "application/json",
            url: Flask.url_for("social.add_bio", { "_external": true }),
            data: JSON.stringify({ username, bio })
        })
            .done(function (msg) {
                $("#text-bio").fadeOut({ "complete": () => $("#text-bio").text(bio) })

                $("#add_bio_div").fadeOut({
                    "complete": () => {
                        if (!bio) {
                            $('#add_bio_button').text("Add a bio")
                        }
                        else {
                            $('#add_bio_button').text("Edit bio")
                        }
                        $('#add_bio_button').css('visibility', 'visible').hide().fadeIn()
                        $('#text-bio').css('visibility', 'visible').hide().fadeIn()
                        $("#add_bio_textarea").val(bio)
                    }
                })
            })
            .fail(function (err) {
                $.ajax({
                    method: "POST",
                    contentType: "application/json",
                    url: Flask.url_for("api.flash_message", { "_external": true }),
                    data: JSON.stringify({ message: "Failed to update bio" })
                })
                    .done(function () {
                        window.location.replace(Flask.url_for("social.user", { username }))
                    })
            })
    })
    
    // Add items to famous book carousel 
    let first = true 
    const setCarouselItem = (selector, isbn) => {
        $.when(getBookByISBN(isbn)).done(book => {
            // reset read more and less
            $(selector + " .description").removeClass("read-more-text")
            $(selector + " .description").removeClass("read-less-text")
            $(selector + " .description").addClass("read-less-text")
            $(selector + " .read-more").removeClass("d-none")
            $(selector + " .read-less").addClass("d-none")

            $(selector + " img").attr("src", book.imageLinks.thumbnail)
            $(selector + " .getGoogle").attr("href", book.infoLink)
            $(selector + " .title").text(book.title)

            // handling authors
            let text_author = ""
            switch (book.authors.length) {
                case 0:
                    text_author = "No Author"
                case 1:
                    text_author = `by ${book.authors[0]}}`
                case 2:
                    text_author = `by ${book.authors[0]} and ${book.authors[1]}`
                default:
                    text_author = "Multiple Authors"
            }
            $(selector + " .authors").text(text_author)

            // handling rating
            if (book.averageRating) {
                let rating = ""
                for (let i = 0; i < Math.floor(book.averageRating); i++) {
                    rating += '<span class="fa fa-star checked"></span>'
                }
                for (let i = Math.floor(book.averageRating); i < 5; i++) {
                    rating += '<span class="fa fa-star"></span>'
                }
                $(selector + " .rating").html(rating + `<span class="font-weight-light">&ensp;${book.ratingsCount} reviews</span>`)
            }

            if (book.description) {
                $(selector + " .description").text(book.description)
            }
        })
    }
    const resetCarouselItem = (selector) => {
        $(selector + " img").attr("src", "#")
        $(selector + " .getGoogle").attr("href", "#")
        $(selector + " .title").text("")
        $(selector + " .authors").text("")
        $(selector + " .description").text("")
            
    }
    let list_of_books = null
    $.when(getListOfBooks(username))
    .done(res => {
        list_of_books = res
        if (list_of_books.length > 0) {
            setCarouselItem('#famousBookCarousel .first-carousel', list_of_books[getRandomIndex(list_of_books)])
            setCarouselItem('#famousBookCarousel .second-carousel', list_of_books[getRandomIndex(list_of_books)])
        }
    })

    $('#famousBookCarousel').on('slide.bs.carousel', function () {
        const selector = "#famousBookCarousel" + (!first ? " .second-carousel" : " .first-carousel")
        first = ! first
        setCarouselItem(selector, list_of_books[getRandomIndex(list_of_books)])
    })

    // handle read more and read less in carousel
    $(".first-carousel .read-more").click(() => {
        $(".first-carousel .description").removeClass("read-less-text")
        $(".first-carousel .description").addClass("read-more-text")
        $(".first-carousel .read-more").addClass("d-none")
        $(".first-carousel .read-less").removeClass("d-none")
    })

    $(".first-carousel .read-less").click(() => {
        $(".first-carousel .description").addClass("read-less-text")
        $(".first-carousel .description").removeClass("read-more-text")
        $(".first-carousel .read-less").addClass("d-none")
        $(".first-carousel .read-more").removeClass("d-none")
    })

    $(".second-carousel .read-more").click(() => {
        $(".second-carousel .description").removeClass("read-less-text")
        $(".second-carousel .description").addClass("read-more-text")
        $(".second-carousel .read-more").addClass("d-none")
        $(".second-carousel .read-less").removeClass("d-none")
    })

    $(".second-carousel .read-less").click(() => {
        $(".second-carousel .description").addClass("read-less-text")
        $(".second-carousel .description").removeClass("read-more-text")
        $(".second-carousel .read-less").addClass("d-none")
        $(".second-carousel .read-more").removeClass("d-none")
    })


</script> 


{% endblock %}